In [18]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [19]:
dataset = pd.read_csv('data.csv')
dataset

    item_code  price
0           4    420
1           5    440
2           6    480
3           7    500
4           8    520
5           9    540
6          10    560
7          11    580
8          12    600
9          13    620
10         14    640
11         15    660
12         15    700

In [20]:
dataset.isnull().any()

item_code    False
price        False
dtype: bool

In [21]:
dataset.isnull().sum()

item_code    0
price        0
dtype: int64

In [22]:
dataset = pd.read_csv('data.csv')

In [23]:
fillup=dataset['price'].median()

In [24]:
fillup

560.0

In [25]:
dataset.price=dataset.price.fillna(fillup)
dataset

    item_code  price
0           4    420
1           5    440
2           6    480
3           7    500
4           8    520
5           9    540
6          10    560
7          11    580
8          12    600
9          13    620
10         14    640
11         15    660
12         15    700

In [26]:
dataset['price'].value_counts()

price
420    1
440    1
480    1
500    1
520    1
540    1
560    1
580    1
600    1
620    1
640    1
660    1
700    1
Name: count, dtype: int64

In [27]:
x=dataset[['item_code']]
y=dataset['price']

In [28]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30,random_state=1)
xtest

    item_code
2           6
3           7
4           8
10         14

In [29]:
reg=LogisticRegression()

In [30]:
reg.fit(xtrain,ytrain)

c:\Users\SADMAN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
reg.predict(xtest)

array([440, 440, 540, 660], dtype=int64)

In [32]:
reg.score(xtest,ytest)

0.0

In [33]:
ytest

2     480
3     500
4     520
10    640
Name: price, dtype: int64

In [34]:
reg.predict_proba(xtest)

array([[3.00384978e-01, 3.41668656e-01, 1.77969420e-01, 1.07418078e-01,
        5.09384469e-02, 1.69917579e-02, 4.41376858e-03, 1.07487929e-04,
        1.07407072e-04],
       [2.01818256e-01, 2.78611058e-01, 2.27063306e-01, 1.56870010e-01,
        8.74859844e-02, 3.57227876e-02, 1.15066575e-02, 4.61172536e-04,
        4.60767296e-04],
       [1.18850444e-01, 1.99135955e-01, 2.53925695e-01, 2.00798559e-01,
        1.31701095e-01, 6.58279745e-02, 2.62934113e-02, 1.73430429e-03,
        1.73256101e-03],
       [2.59985035e-04, 1.39239691e-03, 2.60477484e-02, 4.63222860e-02,
        8.03896608e-02, 1.35178237e-01, 1.96308365e-01, 2.57277529e-01,
        2.56823791e-01]])